<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Resource Manager Category"
            id="ResourceManagerView">
      </category>
      <view
            name="ResourceManagerView"
            inject="true"
            icon="icons/sample.png"
            category="ResourceManagerView"
            class="com.windhoverlabs.studio.views.ResourceManagerView"
            id="com.windhoverlabs.studio.ResourceManagerView">
      </view>
      <view
            category="Resource Manager Category"
            class="com.windhoverlabs.studio.views.PropertyManagerView"
            id="com.myplugin.rmp.views.PropertyManagerView"
            name="Property Manager View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.windhoverlabs.studio.CFSPropertiesPage"
            id="com.windhoverlabs.studio.CFSPropertiesPage"
            name="Configuration Registry">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <reference
                     definitionId="com.windhoverlabs.ide.isAirlinerNature">
               </reference>
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
